.section-aboutUs--numbers{
    background-color: #8D7370;
    width: 100%;
    margin-top: 20px;
}
.section-aboutUs--numbers p{
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: #FFFFFF;
}
span.number{
    font-size: 50px;
    line-height: 124%;
    font-weight: 400;
}
.main-section--works{
    width: 100%;
}
.section-works--gallery{
    grid-template-columns: 488px 184px 488px;
    grid-template-rows: repeat(2, 45fr);
    display: grid;
    grid-row: 2/3;
    grid-column: 2/3;
    justify-self: center;
    grid-gap:20px;
}
.works-image--one{
    grid-row:1/2;
    grid-column: 1/2;
    display: grid;
    z-index: 1000;
}
.works-image--one img{
    grid-row: 1/2;
    grid-column: 1/2;
}
.image-one--hover{
    background: rgba(100, 72, 69, 0.8);
    display: grid;
    grid-template-rows: 80px 100px 150px 122px;
    grid-template-columns: 35px 418px 35px;
    grid-row: 1/2;
    grid-column: 1/2;
    transition-property: opacity;
    transition: all ease 1s;
    opacity: 0;
}
.works-image--one:hover .image-one--hover{
    opacity: 1;
}
.image-one--hover h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
    color: #FFFFFF;
    grid-row: 2/3;
    grid-column: 2/3;
}
.image-one--hover p{
    color: #FFFFFF;
    grid-row: 3/4;
    grid-column: 2/3;
}
.works-image--two{
    grid-row:1/2;
    grid-column: 2/4;
}
.works-image--three{
    grid-row:2/3;
    grid-column: 1/3;
}
.works-image--four{
    grid-row:2/3;
    grid-column: 3/4;
}
.works-button--all{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #533738;
    background:none;
    border: none;
    grid-row: 3/4;
    grid-column: 2/3;
}
.works-button--all:focus{
    outline: none;
}
.main-section--team{
    width: 100%;
    background-color: #E2C4BA;
}
.container-team{
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1.2fr repeat(3, 5fr) 1.2fr;
    grid-template-rows: 150px 1fr;
    grid-column-gap:50px;
}
.container-team h3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3% 0;
    grid-row: 1/2;
    grid-column: 1/6;
}
.container-team img{
    width: 100%;
}
.container-team p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    color: #533738;
    margin-top: 10px;
    }
.team-card--one{
    grid-column: 2/3;
    grid-row: 2/3;
}
.team-card--two{
    grid-column: 3/4;
    grid-row: 2/3;
}
.team-card--three{
    grid-column: 4/5;
    grid-row: 2/3;
}
.main-section--howWork{
    width: 100%;
    background-color: #E2C4BA;
}
.div-howWork{
    width:70px;
    height: 70px;
    border-radius: 50%;
    background-color: #8D7370;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    color: #FFFFFF;
    grid-row:2/3;
    justify-self: center;
}
.div-howWork--one{
    grid-column: 2/3;
}
.div-howWork--two{
    grid-column: 3/4;
}
.div-howWork--three{
    grid-column: 4/5;
}
.div-howWork--four{
    grid-column: 5/6;
}
.p-howWork{
    grid-row:3/4;
    justify-self: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    text-align: center;
    color: #533738;
}
.p-howWork--one{
    grid-column: 2/3;
}
.p-howWork--two{
    grid-column: 3/4;
}
.p-howWork--three{
    grid-column: 4/5;
}
.p-howWork--four{
    grid-column: 5/6;
}
.main-section--reviews{
    width: 100%;
}
.reviews-arrows{
    width:72px;
    height: 72px;
    border-radius: 50%;
    background-color: #CC8B86;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row:2/3;
    justify-self: center;
    border: none;
    transition-duration: 0.5s;
    transition-property: background-color;
} 
.reviews-arrows:hover{
    background-color: #e08079;
}
.reviews-arrows:focus{
    outline: none;
}
.left{
    grid-column: 2/3;
    align-self: center;
}
.right{
    grid-column: 5/6;
    align-self: center;
}
.reviews-text{
    grid-column: 3/4;
    grid-row:2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 90px 0;
}
.reviews-image{
    grid-column: 4/5;
    grid-row:2/3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-section--request{
    width: 100%;
    background-color: #8D7370;
}
.request-form{
    grid-row: 1/2;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: repeat(2, 50px) 24px 60px 44px 1fr; 
}
.request-form h3{
    color: #FFFFFF;
    grid-row: 2/3;
}
.request-form p{
    color: #FFFFFF;
    opacity: 0.6;
    grid-row: 4/5;
}
.request-form form{
    grid-row: 6/7;
    display: grid;
    grid-template-rows: repeat(3, 35px) 31px 74px;
}
.request-form form input[type='text']{
    background: none;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    padding: 4px 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    color: #F6EDE9;
}
.request-form form input[type='text']::placeholder{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    color: #F6EDE9;
}
.request-form form input[type='text']:focus{
    outline: none;
}
.request-form form input:nth-child(1){
    grid-row:1/2;
}
.request-form form input:nth-child(2){
    grid-row:3/4;
}
.request-form form input:nth-child(3){
    grid-row:5/6;
}
.request-form form input[type='submit']{
    border: none;
    width: 310px;
    background: #CC8B86;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #533738;
    transition-duration: 0.5s;
    transition-property: background-color;
}
.request-form form input[type='submit']:focus{
    outline: none;
}
.request-form form input[type='submit']:hover{
    background-color: #e08079;
}
.container-request img{
    grid-row: 1/2;
    grid-column: 3/4;
}
.container-footer{
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 100px 161px 32px 500px 320px 170px 100px;
    grid-template-rows: 104px;
    align-items: center;
}
.footer-p--number{
    grid-column: 2/3;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 167%;
    color: #533738;
    text-decoration: none;
}
.footer-p--address{
    grid-column: 4/5;
}
.footer-p--owner{
    grid-column: 6/7;
}