*{
    margin: 0;
    padding: 0;
}
$brown:#533738;
$button-color:#CC8B86;
@mixin text {
    font-family: Montserrat;
    font-style: normal;
    color: $brown;
    text-decoration: none;
    font-weight: normal;
}
@mixin container {
    width: 1400px;
    margin: 0 auto;
    display: grid;
    height:fit-content;
}

@mixin h3-flex {
    grid-row: 1/2;
    display: flex;
    align-items: center;
}